<thead>
  <tr>
    <th class="sortable sorted-desc col col-image_idx"><a href="/admin/image_infos?order=image_idx_asc">Image Idx</a></th>
    <th class="sortable col col-search_keyword"><a href="/admin/image_infos?order=search_keyword_desc">Search Keyword</a></th>
    <th class="col col-img_thumb">Img Thumb</th>
    <th class="sortable col col-crawling_date"><a href="/admin/image_infos?order=crawling_date_desc">Crawling Date</a></th>
    <th class="sortable col col-similarity"><a href="/admin/image_infos?order=similarity_desc">Similarity</a></th>
    <th class="sortable col col-status"><a href="/admin/image_infos?order=status_desc">Status</a></th>
    <th class="sortable col col-insta_data_id"><a href="/admin/image_infos?order=insta_data_id_desc">Insta Data</a></th>
    <th class="sortable col col-trip_idx"><a href="/admin/image_infos?order=trip_idx_desc">Trip Idx</a></th>
    <th class="col col-actions"></th>
  </tr>
</thead>
